* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #2c0e3a;
  background-size: cover;
  height: 60px;
  padding: 10px;
  list-style-type: none;
}
.main-heading {
  font-size: 15px;
  color: white;
  margin-left: 75%;
}
.logo-image {
  width: 10%;
  margin-left: 15px;
}
.time-logo {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.span {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 19px;
}
.heading {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 19px;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.image {
}
.image-container {
  display: flex;
  align-self: center;
  padding: 15px;
}
.button-container {
  display: flex;
  align-self: center;
}
.button-1 {
  background-color: transparent;
  border-width: 0px;
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
}
.button-2 {
  background-color: transparent;
  border-width: 0px;
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
}
.button-3 {
  background-color: transparent;
  border-width: 0px;
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
}
.list-images {
  display: flex;
  flex-wrap: wrap;
}
.list-image {
  width: 30%;
  margin: 5px;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
}
.show-container {
  display: flex;
  flex-wrap: wrap;
}
.button-image {
  background-color: transparent;
  border-width: 0px;
}
.game-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  min-height: 90px;
}
